/* General body styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #343a40;
    background-color: #8dc5fc;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Input and Button Styling */
.input-group {
    margin-bottom: 20px;
}

.input-group .col-form-label {
    font-weight: bold;
    color: #495057;
    transition: color 0.3s ease;
}

.input-group .form-control {
    border-radius: 50px;
    border: 2px solid #ced4da;
    transition: border-color 0.3s ease;
}

.input-group .form-control:focus {
    border-color: #6c757d;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.input-group .btn {
    border-radius: 50px;
    background-color: #6c757d;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.input-group .btn:hover {
    background-color: #495057;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
